[Unit]
Description=SMHPloting Service

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=/spacemesh/gpu_server.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
